        <footer>
            <a href="#" class="footer-brand">
                <img src="/assets/logo.svg" alt="" class="footer-brand-img">
            </a>
            <p class="footer-phone">
                <img src="/assets/icon-phone.svg" alt="Phone icon" class="footer-phone-icon">
                Phone: +1-543-123-4567
            </p>
            <p class="footer-email">
                <img src="/assets/icon-email.svg" alt="Email icon" class="footer-email-icon">
                example@fylo.com
            </p>
            <nav class="footer-nav">
                <ul class="footer-nav-menu">
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#">About Us</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#">Jobs</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#">Press</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#">Blog</a></li>
                </ul>
            </nav>
            <nav class="footer-nav">
                <ul class="footer-nav-menu">
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#">Contact Us</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#">Terms</a></li>
                    <li class="footer-nav-item"><a class="footer-nav-link" href="#">Privacy</a></li>
                </ul>
            </nav>
            <div class="copy">
                <p class="attribution">
                    Challenge by
                    <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">
                        Frontend Mentor
                    </a>. Coded by 
                    <a href="#">
                        Your Name Here
                    </a>.
                </p>   
            </div>
        </footer>
    </body>
</html>
