<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <title>Fylo - <%= title %></title>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap"
      rel="stylesheet"
      async
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
      async
    />
    <link rel="stylesheet" href="/styles/settings/colors.css" />
    <link rel="stylesheet" href="/styles/settings/gaps.css" />
    <link rel="stylesheet" href="/styles/generic/reset.css" />
    <link rel="stylesheet" href="/styles/base/elements.css" />
    <link rel="stylesheet" href="/styles/base/container.css" />
    <link rel="stylesheet" href="/styles/objects/button.css" />
    <link rel="stylesheet" href="/styles/objects/input.css" />
    <link rel="stylesheet" href="/styles/components/header.css" />
    <link rel="stylesheet" href="/styles/components/hero.css" />
    <link rel="stylesheet" href="/styles/components/features.css" />
    <link rel="stylesheet" href="/styles/components/cta-section.css" />
    <link rel="stylesheet" href="/styles/components/cta-form.css" />
    <link rel="stylesheet" href="/styles/components/footer.css" />