<header>
    <div class="container header-container">
      <a class="brand"><img src="/assets/logo.svg" alt="Fylo" class="brand-img"></a>
      <nav class="header-nav">
          <ul class="header-nav-menu">
              <li class="header-nav-item"><a class="header-nav-link" href="#">Features</a></li>
              <li class="header-nav-item"><a class="header-nav-link" href="#">Team</a></li>
              <li class="header-nav-item"><a class="header-nav-link" href="#">Sign In</a></li>
          </ul>
      </nav>
    </div>
</header>