.input {
  display: block;
  width: 100%;
  padding: var(--gap-sm) var(--gap-sm);
  border: 1px solid;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
