.features-container {
  padding: var(--gap-xl) 0;

  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--gap-sm);
}

.features-title {
  margin: var(--gap-xl) 0 var(--gap-lg) 0;
  text-align: center;
}

.features-text {
  margin-bottom: var(--gap-lg);
}

.features-link {
  text-align: center;
  font-weight: 400;
  color: var(--moderate-cyan);

  display: flex;
  align-items: center;
  justify-items: center;
  margin: 0 auto var(--gap-xl) auto;

  border-bottom: 2px solid var(--moderate-cyan);
}

.features-link:hover {
  color: var(--bright-blue);
  border-color: var(--bright-blue);
}

.features-link-icon {
  display: inline-block;
  margin-left: var(--gap);
}

.features-testimonial-card {
  background: white;
  padding: var(--gap-lg);
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05),
    -2px 0px 10px rgba(0, 0, 0, 0.05);
}

.testimonial-quote {
  margin-bottom: var(--gap-sm);
}

.testimonial-text {
  font-size: 0.875rem;
  line-height: 1.65em;
  color: var(--very-dark-blue);

  margin-bottom: var(--gap-md);
}

.testimonial-person {
  display: flex;
  justify-items: flex-start;
}

.testimonial-avatar {
  display: inline-block;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  margin-right: calc(var(--gap-sm) * 1.5);
}

.testimonial-description {
  font-size: 0.875rem;
}

@media (min-width: 600px) {
  .features-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'features-content features-img';
    column-gap: var(--gap-md);
    align-items: start;

    padding: var(--gap-xl) 0;
  }

  .features-content {
    grid-area: features-content;
  }

  .features-img {
    grid-area: features-img;
  }

  .features-title {
    margin-bottom: var(--gap-md);
  }
  
  .features-text {
    margin-bottom: var(--gap-md);
  }
  
  .features-link {
    text-align: left;
    width: 57%;
  
    justify-content: flex-start;
    margin: 0 0 var(--gap-lg) 0;
  
    border-bottom: 2px solid var(--moderate-cyan);
  }

  .features-testimonial-card {
    width: 85%;
    padding: var(--gap-md);
    margin: 0;
  }
}

@media (min-width: 960px) {
  .features-link {
    width: 37%;
  }
  
  .features-testimonial-card {
    width: 60%;
  }
}
