.hero-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--gap-sm);

  padding: var(--gap-xl) 0;
}

.hero-img {
  width: 100%;
  justify-content: center;
}

.hero-title {
  margin-top: calc(var(--gap-md) * 1.5);

  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 1.35em;
}

.hero-paragraph {
  margin: var(--gap-md) auto;
  text-align: center;

  line-height: 1.55em;
}

@media (min-width: 600px) {
  .hero-container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'hero-intro hero-img';
    column-gap: var(--gap-md);
    align-items: start;

    padding: var(--gap) 0;
  }

  .hero-intro {
    grid-area: hero-intro;
  }

  .hero-img {
    grid-area: hero-img;
  }

  .hero-title {
    text-align: left;
  }

  .hero-paragraph {
    text-align: left;

    margin: var(--gap-md) 0;
  }

  .hero-cta-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: var(--gap-sm);
  }

  .hero-cta-form button, .hero-cta-form input {
    margin: 0;
  }
}